<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog!</title>
  <link rel="stylesheet" href="public/css/jass.css">
  <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <!-- Conditionally render login or logout links -->
        <h2 class="display-inline p-3">
            <a href="/">Home</a>
        </h2>
        <h2 class="display-inline p-3">
            <a href="/dashboard">Dashboard</a>
        </h2>
        {{#if logged_in}}
        <h2 class="display-inline p-3">
            <a href="/logout">Logout</a>
        </h2>
        {{else}}
        <h2 class="display-inline p-3">
            <a href="/login">Login</a>
        </h2>
        {{/if}}
      </nav>
      
    </header>
    <h1 class="ml-5">The Tech Blog!</h1>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
