{{#each posts as |post|}}
  <div class="post" style="background: lightgray;">
    <h2>{{post.name}}</h2>
    <p>{{post.description}}</p>
    <p>Posted by: {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
{{/each}}

<button id="newPostButton">Add New Post</button>

<div id="newPostForm" style="display: none;">
  <input type="text" id="newPostTitle" placeholder="Title">
  <input type="text" id="newPostContent" placeholder="Description">
  <button id="submitPostButton">Submit</button>
</div>

<script>
  document.getElementById('newPostButton').addEventListener('click', function() {
    document.getElementById('newPostForm').style.display = 'block';
  });
</script>

