<div class="post" style="background: lightgray;" id="updatePostForm">
    <input type="text" id="updatePostTitle" placeholder={{post.name}}>
    <input type="text" id="updatePostContent" placeholder={{post.description}}>
    <button id="submitUpdatePostButton">Submit</button>
</div>


<script>
    document.getElementById('submitUpdatePostButton').addEventListener('click', updatePost);

    async function updatePost(event) {
        event.preventDefault();
        const name = document.querySelector('#updatePostTitle').value.trim();
        const description = document.querySelector('#updatePostContent').value.trim();

        if (name && description) {
      const response = await fetch('/api/posts/' + {{post.id}}, {
        method: 'PUT',
        body: JSON.stringify({
          name,
          description,
        }),
        headers: { 'Content-Type': 'application/json' },
      });

      if (response.ok) {
        document.location.replace('/dashboard');
      } else {
        alert(response.statusText);
      }
    }
    return false;
    }
</script>