{{#each posts as |post|}}
  <div class="post" style="background: lightgray;">
    <h2>{{post.name}}</h2>
    <p>{{post.description}}</p>
    <p>Posted by: {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
{{/each}}
